<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<%= wicked_pdf_stylesheet_link_tag "reports" %>
		<style TYPE="text/css">
			td {
				font-family: Arial; font-size: 8pt;
			}
			.titulo {
				font-family: Arial; 
				font-size: 12pt; 
				font-weight: bold;
				text-align: center;
			}			
			

			th {
			    background-color: #4CAF50;
			    color: white;

			}


/*			table, tr, td, th, tbody, thead, tfoot {
    		page-break-inside: avoid !important;
			}*/

		</style>
	</head>
	<body>
		<table width="100%" border=0 cellspacing=0 >
			<tr>
				<td style="text-align: center;"><br/>Notas Fiscais</td>
			</tr>
			<tr>
				<td>
					<table class="paramentros">
						<tr>
							<td>Filtros</td>
						</tr>
		    				<%= search_form_for @search do |f| %>
		    					<%= f.condition_fields do |c| %>
										<tr>
											<td>
												<%= c.attribute_fields do |a| %>
													<%= a.attribute_select()%>
												<% end %>
												<%= c.predicate_select %>
													<%= c.value_fields do |v| %>
														<%= v.text_field :value %>
												<% end %>
											</td>
										</tr>
		    					<% end %>
							<% end %>
						</table>
						</br>
						<table width="100%" class="table table-condensed table-striped" >
							<thead style="font-family: Arial; font-size: 8pt;">  
								<tr>
									<th width="04%">Id</th>
									<th width="06%">Baixada?</th>
									<th width="07%">Status</th>
									<th width="07%">Manifesto</th>
									<th width="27%">Chave</th>
									<th width="36%">Emitente</th>
									<th width="06%">Valor</th>
									<th width="07%">Emissão</th>
								</tr>
							</thead>
							<tbody>
			      		<%= content_tag_for(:tr, @nota_fiscais) do |n| %>
									<td style="text-align: center;"><%= n.id %></td>
									<td style="text-align: center;"><% if n.baixada then %>ok<% end %></td>
									<td style="text-align: center;"><%= n.codSituacaoNfe %></td>
									<td style="text-align: center;"><%= n.codSituacaoManifestacaoDestinatario %></td>
									<td style="text-align: left;"><%= n.nrChaveNfe %></td>
									<td style="text-align: left;"><%= n.nomeEmitente %></td>
									<td style="text-align: right;"><%= number_with_precision(n.valorTotalNfe, :precision => 2) %></td>
									<td style="text-align: center;"><%= n.dtEmissaoNfe.try(:strftime, '%d/%m/%Y') %></td>
								<% end %>
							</tbody>
						</table>						
				</td>
			</tr>
		</table>
	</body>
</html>

